/* global colors vars */

$mainColor: #c32727;
$secColor: #0d1136;
$mutedText: #77798c;
$bgColor: #f7f7f7;
$inputsBg: #f3f3f3;

/* start navbar */

@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "cairo";
  src: url(../fonts/Cairo-SemiBold.ttf);
  font-weight: 600;
}

body {
  text-align: start;
  font-family: cairo;
}
.navbar {
  padding: 6px 28px;
  box-shadow: rgba(0, 0, 0, 6%) 0px 1px 2px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: #fff;
  @media (max-width: 991px) {
    flex-wrap: nowrap;
  }
  #navbarSupportedContent {
    justify-content: space-between;
    z-index: 888;
    @media (max-width: 991px) {
      display: flex;
      justify-content: flex-end;
    }
    form {
      width: 100%;
      position: relative;
      transition: 0.3s;
      @media (max-width: 991px) {
        position: absolute;
        right: 50%;
        width: 98%;
        transform: translateX(50%);
        background-color: #fff;
        height: 100%;
        z-index: 22;
        display: flex;
        flex-wrap: nowrap;
        top: -100%;
        margin: 0 !important;
      }
      input {
        width: 100%;
        padding-inline-start: 24px;
        background-color: $inputsBg;
        transition: 0.3s;
        @media (max-width: 991px) {
          padding-inline-start: 10px;
          width: 95%;
        }
        &::placeholder {
          color: $mutedText;
          font-size: 15px;
        }
        &:focus {
          box-shadow: none;
          background-color: transparent;
        }
      }
      button {
        position: absolute;
        background-color: transparent;
        border: none;
        right: 14px;
        padding: 0;
        top: 10px;
        @media (max-width: 991px) {
          height: 38px;
          right: auto;
          top: 7px;
          left: 0px;
          padding: 10px;
          background-color: $mainColor;
          border-radius: 5px 0 0 5px;
          svg {
            stroke: #fff;
          }
        }
      }
      .hide-form {
        margin-inline-end: 8px;
      }
    }
    form.move-form {
      top: 0;
    }
    .nav-actions {
      .fav-list,
      .lang-switch,
      .whatsapp-link,
      .search-trig {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-start: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .whatsapp-link {
        border: none;
        background-color: rgb(37, 211, 102);
        border-radius: 50%;
        overflow: hidden;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .dropdown {
        width: 100%;
        height: 100%;
        button {
          width: 100%;
          height: 100%;
          background-color: transparent !important;
          margin: 0;
          box-shadow: none !important;
          border: none;
          outline: none;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            display: none;
          }
          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }
}

/*favorite modal */

.fav-modal {
  right: auto !important;
  left: 0px !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 300px;
  margin-inline-start: auto;
  background-color: #fff;
  max-width: 100%;
  position: fixed !important;
  margin: 0 !important;
  .modal-content {
    height: 100%;
    .modal-header {
      background-color: $bgColor !important;
      border-bottom: 1px solid $mutedText;
      box-shadow: none;
      .heading {
        font-weight: 600;
        color: $secColor;
      }
      .close {
        margin: 0;
        padding: 0;
        @media (max-width: 767px) {
          position: absolute;
          top: -36px;
          right: 49%;
          background-color: #c32727;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          color: $mainColor !important;
          @media (max-width: 767px) {
            font-weight: normal;
            color: #fff !important;
            display: block;
            margin-top: -4px;
          }
        }
      }
    }
    .modal-body {
      padding: 10px;
      height: 450px;
      overflow: auto;
      .no-items {
        display: none !important;
        p {
          color: $mutedText;
          margin-top: 24px;
          font-weight: bold;
        }
      }
      .cart-fav-items {
        .alert {
          padding: 10px;
          padding-inline-end: 32px;
          border-bottom: 1px solid #f3f3f3;
          border-radius: 0;
          button.close {
            right: auto;
            left: 0;
            padding: 0;
            top: 50%;
            transform: translateY(-50%);
            span {
              color: $mainColor;
            }
          }
          .item-ontent {
            img {
              margin-inline-end: 8px;
              height: 50px;
              width: 50px;
              object-fit: cover;
              border-radius: 5px;
            }
            .item-name {
              h5 {
                font-weight: bold;
                color: $secColor;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .go-to-pay {
      position: static;
      bottom: 65px;
      width: 100%;
      text-align: center;
      box-shadow: 0 0 5px #ccc;
      background-color: #f5f5f5;
      padding: 12px;
      button {
        width: 70%;
        background-color: $mainColor !important;
        border-color: $mainColor !important;
      }
    }
  }
}
/*categories*/

.categories {
  padding: 120px 0 50px;
  .card {
    margin-bottom: 24px;
    img {
      cursor: pointer;
    }
    .card-body {
      padding: 16px;
      h5 {
        margin: 0;
        color: $secColor;
        font-weight: 600;
      }
    }
  }
}

/*footer */

footer {
  background-color: $secColor;
  padding: 24px 0;
  p {
    color: #fff;
    margin: 0;
  }
  .social {
    a {
      margin-inline-start: 7px;
    }
  }
}

/* main content */
.wrapper {
  padding: 24px 0 24px;
  main {
    flex-wrap: wrap;
    background-color: $bgColor;
    width: 100%;

    aside {
      width: 280px;
      background-color: #fff;
      @media (max-width: 991px) {
        padding-top: 36px;
      }
      .side-links {
        padding: 35px 0;
        position: fixed;
        width: 280px;
        @media (max-width: 991px) {
          padding: 0;
        }
        ul {
          padding: 0 15px;
          height: 450px;
          overflow: auto;
          /* width */
          &::-webkit-scrollbar {
            width: 3px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 5px;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $mutedText;
            border-radius: 5px;
          }
          li {
            margin: 15px 0;
            a {
              color: $secColor;
              padding: 8px;
              width: 100%;
              display: block;
              font-size: 16px;
              font-weight: 700;
              text-decoration: none;
              transition: 0.3s;
              &:hover {
                color: $mainColor;
                margin-right: 5px;
              }
            }
          }
          li.active a {
            color: #fff;
            background-color: $mainColor;
            border-radius: 5px;
          }
        }
      }
      @media (max-width: 991px) {
        width: 100%;
        .side-links {
          position: static;
          width: 100%;
          ul {
            height: auto;
            display: flex;
            margin: 0;
            &::-webkit-scrollbar {
              display: none;
            }
            li {
              a {
                width: 120px;
                margin-inline-end: 16px;
                text-align: center;
                font-size: 13px;
                padding: 16px 10px;
                background-color: $bgColor;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
    .categories-items {
      width: calc(100% - 280px);
      padding-top: 32px;
      .item-caption {
        .item-price {
          color: $mainColor;
          font-weight: bold;
        }
        .add-to-card {
          border: 1px solid #ddd;
          border-radius: 20px;
          padding: 6px 16px;
          color: $mainColor;
          svg {
            margin-inline-end: 5px;
          }
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }

      /*product modal */
      .modal-dialog {
        .modal-header {
          button {
            margin: 0;
            padding: 0;
            color: $mainColor;
            opacity: 1;
          }
        }
        max-width: 90%;
        margin: auto;
        img {
          max-width: 100%;
        }

        .preview {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }
        @media screen and (max-width: 996px) {
          .preview {
            margin-bottom: 20px;
          }
        }

        .preview-pic {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
        }

        .preview-thumbnail.nav-tabs {
          border: none;
          margin-top: 15px;
          padding: 0;
          justify-content: space-between;
        }
        .preview-thumbnail.nav-tabs li {
          width: 18%;
        }
        .preview-thumbnail.nav-tabs li img {
          max-width: 100%;
          display: block;
          border-radius: 5px;
        }
        .preview-thumbnail.nav-tabs li a {
          padding: 0;
          margin: 0;
        }
        .preview-thumbnail.nav-tabs li:last-of-type {
          margin-right: 0;
        }

        .tab-content {
          overflow: hidden;
          flex-grow: 0;
          height: 350px;
          .tab-pane {
            height: 100%;
          }
        }
        .tab-content img {
          width: 100%;
          -webkit-animation-name: opacity;
          animation-name: opacity;
          -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        .card {
          margin-top: 0;
          background: transparent;
          padding: 16px;
          line-height: 1.5em;
          box-shadow: none !important;
          margin: 0;
        }

        @media screen and (min-width: 997px) {
          .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
          }
        }

        .details {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
        }

        .colors {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
        }

        .product-title,
        .price,
        .sizes,
        .colors {
          text-transform: UPPERCASE;
          font-weight: bold;
        }

        .checked,
        .price span {
          color: #ff9f1a;
        }

        .product-title,
        .rating,
        .product-description,
        .price,
        .vote,
        .sizes {
          margin-bottom: 15px;
        }

        .product-title {
          margin-top: 0;
        }

        .size {
          margin-inline-end: 10px;
        }
        .size:first-of-type {
          margin-inline-start: 40px;
        }

        .color {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          height: 2em;
          width: 2em;
          border-radius: 2px;
        }
        .color:first-of-type {
          margin-inline-start: 20px;
        }

        .add-to-cart,
        .like {
          background: #ff9f1a;
          padding: 1.2em 1.5em;
          border: none;
          text-transform: UPPERCASE;
          font-weight: bold;
          color: #fff;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
        }
        .add-to-cart:hover,
        .like:hover {
          background: #b36800;
          color: #fff;
        }

        .not-available {
          text-align: center;
          line-height: 2em;
        }
        .not-available:before {
          font-family: fontawesome;
          content: "\f00d";
          color: #fff;
        }

        .orange {
          background: #ff9f1a;
        }

        .green {
          background: #85ad00;
        }

        .blue {
          background: #0076ad;
        }

        .tooltip-inner {
          padding: 1.3em;
        }

        @-webkit-keyframes opacity {
          0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
          }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        @keyframes opacity {
          0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
          }
          100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        /*# sourceMappingURL=style.css.map */
      }
    }
  }
}

/*cart-button*/
.cart-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainColor;
  border-radius: 50%;
  cursor: pointer;
}

#incdec {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bgColor;
  border-radius: 15px;
  margin-inline-end: 8px;
  input {
    min-width: 30px;
    margin: 0 !important;
    border: none;
    color: $mutedText;
    font-weight: bold;
    padding: 0;
    max-width: fit-content;
    text-align: center;
    background-color: $bgColor;
  }
  button {
    background-color: transparent !important;
    border: none !important;
    color: $mutedText !important;
    padding: 0;
    box-shadow: none;
  }
}
/*cartModal*/
#cartModal {
  #incdec {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgColor;
    border-radius: 15px;
    margin-inline-end: 8px;
    input {
      min-width: 30px;
      margin: 0 !important;
      border: none;
      color: $mutedText;
      font-weight: bold;
      padding: 0;
      max-width: fit-content;
      text-align: center;
      background-color: $bgColor;
    }
    button {
      background-color: transparent !important;
      border: none !important;
      color: $mutedText !important;
      padding: 0;
      box-shadow: none;
    }
  }
}

.payment {
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  right: 0;
  z-index: 9999;
  display: none;
  .pay-holder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
  }
  .content {
    max-width: 700px;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    padding-top: 50px;
    .close-button {
      position: absolute;
      left: 8px;
      top: 8px;
      background-color: #c32727;
      width: 30px;
      height: 30px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .row {
      margin: 0;
      .nav-tabs {
        background-color: $bgColor;
        border: none;
        .nav-link {
          border: none !important;
          .icon-holder {
            width: 40px;
            height: 40px;
            background-color: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin-inline-end: 8px;
          }
          .step-content {
            text-align: start;

            h5 {
              color: $secColor;
              font-weight: 600;
              font-size: 15px;
              margin-bottom: 0;
            }
            span {
              color: $mutedText;
              font-size: 14px;
            }
          }
        }
        .nav-link.active {
          background-color: $bgColor !important;
          .icon-holder {
            background-color: $mainColor;
            svg {
              stroke: #fff !important;
            }
          }
          .step-content {
            h5 {
              color: $mainColor;
            }
          }
        }
      }
    }
  }
}

/*last tab */
.order-details {
  img {
    flex-shrink: 0;
    margin-inline-end: 8px;
  }
  h5 {
    color: $secColor;
    margin: 0;
    font-size: 15px;
  }
  p {
    color: $mutedText;
  }
  .total-price {
    font-weight: bold;
    color: $mainColor;
  }
}
